<template>
  <v-flex class="bottom-navigation">
    <v-btn
      v-if="step > 0"
      large
      outline
      round
      dark
      color="grey darken-4"
      @click="goBackwards"
    >Back
    </v-btn>
    <v-btn
      v-if="canGoForward && step < 5"
      large
      outline
      round
      dark
      color="grey darken-4"
      @click="goForward"
    >{{ step === 0 ? 'Start' : 'Next' }}
    </v-btn>
  </v-flex>
</template>

<script>
  import { mapGetters } from 'vuex'
  import * as types from '../store/mutation-types'

  export default {
    name: 'BottomNavigation',
    computed: {
      ...mapGetters({
        step: 'ui/getStep',
        canGoForward: 'ui/canGoForward'
      })
    },
    methods: {
      goForward: function () {
        this.$store.commit('ui/' + types.GO_FORWARD)
      },
      goBackwards: function () {
        this.step > 0 && this.$store.commit('ui/' + types.GO_BACKWARDS)
      }
    }
  }
</script>

<style scoped>

</style>
