<template>
  <v-layout
    class="radius-selector"
    column
    fill-height
    justify-center
  >
    <v-flex
      mx-auto
      class="drinks-type-title"
    >What do you want to drink?
    </v-flex>
    <v-flex
      shrink
      mx-auto
      mb-4
      class="drinks-type-text"
    >Please choose your favorite drink and hit next
    </v-flex>
    <v-flex shrink>
      <v-carousel
        :cycle="false"
        v-model="selectedDrink"
      >
        <v-carousel-item
          v-for="(item,i) in items"
          :key="i"
          :src="item.src"
        ></v-carousel-item>
      </v-carousel>
    </v-flex>
    <v-flex
      mx-auto
      mt-2
      class="drinks-type-selected"
    >{{ items[index].name }}
    </v-flex>
  </v-layout>
</template>

<script>
  import * as types from '../store/mutation-types'

  export default {
    name: 'DrinkSelector',
    data: function () {
      return {
        index: 0,
        items: [
          {
            name: 'Beer',
            query: 'Beer Bar',
            src: 'https://moneyinc.com/wp-content/uploads/2017/10/Beer-750x497.jpg'
          },
          {
            name: 'Wine',
            query: 'Wine Bar',
            src: 'https://images.parents.mdpcdn.com/sites/parents.com/files/shutterstock_352194722.jpg'
          },
          {
            name: 'Whisky',
            query: 'Whisky Bar',
            src: 'https://productimages.brambleberry.com/2017_Product/Fragrance%20Oils/ScotchWhisky_FO03_Main.jpg'
          },
          {
            name: 'Cocktails',
            query: 'Cocktail Bar',
            src: 'http://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/153790201.jpg?itok=LyeLsbCu&resize=1100x619'
          },
          {
            name: 'Rum',
            query: 'Tiki Bar',
            src: 'https://i.pinimg.com/736x/63/61/99/636199ee58438563c5d515bf1be0e171--rum-cocktails-winter-cocktails.jpg'
          }
        ]
      }
    },
    computed: {
      selectedDrink: {
        get: function () {
          return this.items.findIndex(type => type.query === this.$store.getters['venues/getType'])
        },
        set: function (value) {
          this.index = value
          this.$store.commit('venues/' + types.SET_TYPE, this.items[value].query)
        }
      }
    },
    mounted () {
      this.$emit('speak', `What do you feel like drinking today? We've got 5 solid options over here to choose from`)
    },
    watch: {
      selectedDrink: function (newValue, oldValue) {
        if (newValue !== oldValue) {
          this.$emit('speak', this.items[this.index].name)
        }
      }
    }
  }
</script>

<style scoped>
  .drinks-type-title, .drinks-type-selected {
    font-size: 30px;
  }

  .drinks-type-text {
    font-size: 24px;
  }
</style>
