<template>
  <v-layout
    class="landing-page"
    column
    fill-height
    justify-center
    align-center
  >
    <v-flex
      shrink
      mb-5
      class="app-title"
    >Let's get drunk!
    </v-flex>
    <v-flex
      shrink
      mt-5
      class="app-intro"
    >
      <div>Welcome to getDrunk app!</div>
      <div>Please turn on the volume and let's get straight to the point</div>
      <div class="note">Please drink responsibly!</div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'LandingPage',
    mounted () {
      this.$emit('speak', `Welcome to "getDrunk app"! Please turn on the volume and let's get straight to the point, we don't have much time to lose... we ask you, however, to drink responsibly`)
    }
  }
</script>

<style scoped>
  .app-title {
    font-size: 52px;
  }

  .app-intro {
    font-size: 30px;
  }

  .note {
    font-size: 16px;
  }
</style>
