<template>
  <v-layout
    class="location-selector"
    column
    fill-height
    justify-center
    align-center
  >
    <v-flex class="location-title">What is your location?</v-flex>
    <v-flex class="location-text">You can get the location from your device or manually fill in your location.</v-flex>
    <v-flex>
      <v-layout column>
        <v-flex>
          <v-btn
            large
            outline
            round
            block
            color="deep-orange accent-3"
            @click="getLocation"
          >Get current location
            <v-icon right>my_location</v-icon>
          </v-btn>
        </v-flex>
        <v-flex
          mx-auto
          class="location-text"
        >or
        </v-flex>
        <v-flex>
          <v-text-field
            label="fill it in manually"
            color="deep-orange accent-3"
            v-model="stringLocation"
          ></v-text-field>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex mx-auto>
      <div class="location-status">
        {{ statusMessage }}
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  import * as types from '../store/mutation-types'
  import locationTypes from '../store/location-types'

  const messages = {
    LOCATION_RETRIEVING: 'Retrieving your location... please wait',
    LOCATION_RETRIEVE_FAILED: 'Couldn\'t retrieve your location, please fill it in manually!',
    LOCATION_RETRIEVE_SUCCESS: 'Location retrieved. Using device location',
    LOCATION_PROVIDED_MANUALLY: 'Location provided manually',
    LOCATION_NOT_PROVIDED: 'No location provided'
  }

  export default {
    name: 'LocationSelector',
    data: function () {
      return {
        statusMessage: messages.LOCATION_NOT_PROVIDED,
        loadingLocation: false,
        stringLocation: ''
      }
    },
    methods: {
      getLocation: function () {
        if ('geolocation' in navigator) {
          this.loadingLocation = true
          this.statusMessage = messages.LOCATION_RETRIEVING
          navigator.geolocation.getCurrentPosition((position) => {
            this.$store.commit('venues/' + types.SET_LOCATION_COORDINATES, {
              latitude: position.coords.latitude,
              longitude: position.coords.longitude
            })
            this.loadingLocation = false
            this.statusMessage = messages.LOCATION_RETRIEVE_SUCCESS
            this.allowNextStep()
          })
        } else {
          this.statusMessage = messages.LOCATION_RETRIEVE_FAILED
        }
      },
      allowNextStep: function () {
        this.$store.commit('ui/' + types.ALLOW_NEXT_STEP, true)
      },
      forbidNextStep: function () {
        this.$store.commit('ui/' + types.ALLOW_NEXT_STEP, false)
      }
    },
    created () {
      this.forbidNextStep()
      // check if location is already in the store
      const locationType = this.$store.getters['venues/getLocationType']
      const location = this.$store.getters['venues/getLocation']

      if (locationType === locationTypes.LL && location) {
        this.statusMessage = messages.LOCATION_RETRIEVE_SUCCESS
        this.allowNextStep()
      }

      if (locationType === locationTypes.NEAR && location) {
        this.statusMessage = messages.LOCATION_PROVIDED_MANUALLY
        this.stringLocation = location
        this.allowNextStep()
      }
    },
    mounted () {
      this.$emit('speak', `In order to continue, please allow us to get your location. You can also fill it in manually but you need to be very specific about city and country, as we know places everywhere in the world!`)
    },
    destroyed () {
      this.allowNextStep()
    },
    watch: {
      stringLocation: function (value) {
        if (value) {
          this.statusMessage = messages.LOCATION_PROVIDED_MANUALLY
          this.$store.commit('venues/' + types.SET_LOCATION_STRING, value)
          this.allowNextStep()
        } else {
          this.statusMessage = messages.LOCATION_NOT_PROVIDED
          this.$store.commit('venues/' + types.SET_LOCATION_STRING, value)
          this.forbidNextStep()
        }
      },
      statusMessage: function (value) {
        this.$emit('speak', value)
      }
    }
  }
</script>

<style scoped>
  .location-title {
    font-size: 30px;
  }

  .location-text, .location-status {
    font-size: 24px;
  }
</style>
