<template>
  <v-layout
    class="price-selector"
    column
    fill-height
    justify-center
    align-center
  >
    <v-flex class="price-title">
      How much would you spend?
    </v-flex>
    <v-flex
      shrink
      class="price-text"
    >
      Select the price range!
    </v-flex>
    <v-flex mt-4>
      <v-btn-toggle
        multiple
        mandatory
        v-model="price"
      >
        <v-btn
          class="price-button"
          style="width: 80px"
          v-for="index in 4"
          :key="index"
          :value="index"
          color="green"
        >
          {{new Array(index).fill('&dollar;').join(' ')}}
        </v-btn>
      </v-btn-toggle>
    </v-flex>
  </v-layout>
</template>

<script>
  import * as types from '../store/mutation-types'

  export default {
    name: 'PriceSelector',
    computed: {
      price: {
        get: function () {
          return this.$store.getters['venues/getPrice']
        },
        set: function (value) {
          this.$store.commit('venues/' + types.SET_PRICE, value)
        }
      }
    },
    mounted () {
      this.$emit('speak', `We've got cheaper places and also more expensive ones, however, please specify your budget`)
    }
  }
</script>

<style scoped>
  .price-title {
    font-size: 30px;
  }

  .price-text {
    font-size: 24px;
  }

  .price-button {
    font-family: 'Arial', serif;
  }
</style>
