<template>
  <v-layout
    class="radius-selector"
    column
    fill-height
    justify-center
    align-space-between
  >
    <v-flex
      mx-auto
      class="radius-title"
    >
      How far would you go?
    </v-flex>
    <v-flex
      shrink
      mx-auto
      class="radius-text"
    >
      Please specify how much distance (meters) you would like to travel to get drunk.
    </v-flex>
    <v-flex mt-5>
      <v-slider
        v-model="radius"
        min="1"
        prepend-icon="directions_walk"
        color="deep-orange accent-3"
        max="10000"
        inverse-label
        :label="`${radius} meters`"
      ></v-slider>
    </v-flex>
  </v-layout>
</template>

<script>
  import * as types from '../store/mutation-types'

  export default {
    name: 'RadiusSelector',
    computed: {
      radius: {
        get: function () {
          return this.$store.getters['venues/getRadius']
        },
        set: function (value) {
          this.$store.commit('venues/' + types.SET_RADIUS, value)
        }
      }
    },
    mounted () {
      this.$emit('speak', `Now, how far would you go to get drunk? You can go up to 10000 meters, but will try to find you something closer anyway`)
    }
  }
</script>

<style scoped>
  .radius-title {
    font-size: 30px;
  }

  .radius-text {
    font-size: 24px;
  }
</style>
