<template>
  <v-layout
    class="venues-page"
    column
    fill-height
    justify-center
    align-space-between
  >
    <v-flex
      v-if="loading"
      class="venues-title">Loading...
    </v-flex>
    <v-flex
      v-if="!loading"
      class="venues-title"
    >We found {{ venuesCount }} places where you can get drunk
    </v-flex>
    <v-flex v-if="!loading">
      <v-list
        two-line
        subheader
        class="elevation-3 venues-list"
      >
        <v-subheader>Places</v-subheader>
        <v-list-tile
          v-for="venue in venues"
          :key="venue.name"
          @click=""
        >
          <v-list-tile-content>
            <v-list-tile-title>{{ venue.name }}</v-list-tile-title>
            <v-list-tile-sub-title>{{ venue.address }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-flex>
  </v-layout>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'search-bar',
    data: function () {
      return {
        loading: true
      }
    },
    computed: {
      ...mapGetters({
        venues: 'venues/getVenues',
        venuesCount: 'venues/getVenuesCount'
      })
    },
    created () {
      this.getVenues()
    },
    methods: {
      getVenues: async function () {
        await this.$store.dispatch('venues/getVenues')
        this.loading = false
        this.$emit('speak', `We found ${this.venuesCount} great places where you can get drunk according to your preferences. However you can go back and update your filters if the results are not making you happy. Have fun! And make sure you don't get in trouble!`)
      }
    }
  }
</script>


<style scoped>
  .venues-title {
    font-size: 30px;
  }

  .venues-list {
    height: 70vh;
    overflow-y: scroll;
  }
</style>
