<template>
  <v-app class="get-drunk-app">
    <v-container fluid>
      <v-layout
        column
        fill-height
        align-center
        justify-start
      >
        <landing-page
          v-if="step === 0"
          @speak="speak"
        ></landing-page>
        <location-selector
          v-else-if="step === 1"
          @speak="speak"
        ></location-selector>
        <radius-selector
          v-else-if="step === 2"
          @speak="speak"
        ></radius-selector>
        <drink-selector
          v-else-if="step === 3"
          @speak="speak"
        ></drink-selector>
        <price-selector
          v-else-if="step === 4"
          @speak="speak"
        ></price-selector>
        <venues-page
          v-else-if="step === 5"
          @speak="speak"
        ></venues-page>
        <bottom-navigation></bottom-navigation>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
  import LandingPage from './components/LandingPage'
  import LocationSelector from './components/LocationSelector'
  import RadiusSelector from './components/RadiusSelector'
  import DrinkSelector from './components/DrinkSelector'
  import PriceSelector from './components/PriceSelector'
  import VenuesPage from './components/VenuesPage'
  import BottomNavigation from './components/BottomNavigation'

  export default {
    name: 'App',
    data () {
      return {
        synth: window.speechSynthesis,
        greetingSpeech: new window.SpeechSynthesisUtterance()
      }
    },
    computed: {
      step: function () {
        this.synth.cancel()
        return this.$store.getters['ui/getStep']
      }
    },
    components: {
      LandingPage, LocationSelector, RadiusSelector, DrinkSelector, PriceSelector, VenuesPage, BottomNavigation
    },
    methods: {
      speak (message) {
        this.synth.cancel()
        this.greetingSpeech.text = message
        this.synth.speak(this.greetingSpeech)
      }
    }
  }
</script>

<style>
  .application.get-drunk-app {
    font-family: 'Architects Daughter', serif;
  }
</style>
